extends layout

block content
  nav.navbar.navbar-inverse.navbar-fixed-top.app-bg-color.border-fix(role="navigation")
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#', class='white-color brand-name-padding')
          img.img-responsive(src=logo_url, alt=title, width=144, height=35)

      #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav.menu-list
          each val, index in header_menu_list
            li(class= (index == 0) ? "active" : "")
              a(href=val.href) #{val.title}
        ul.nav.navbar-nav.navbar-right
          li
            if !!user
              a(href='#', class='user-ddm white-color',data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') #{user.name}
                span(class='glyphicon glyphicon-chevron-down icon' aria-hidden='true')
              ul.dropdown-menu
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
            else
              a(href='#', class='white-color') Sign In
          li(class='hidden-sm')
            form.navbar-form(role='search',class="search-box")
              .input-group.add-on
                input#search-term.form-control(type='text', placeholder='Search', name='movie_name')
                .input-group-btn
                  button.btn.btn-default(type='button')
                    i.glyphicon.glyphicon-search

  .container
    .main-content.row
      .col-xs-12
        .col-sm-12.col-md-6
          .col-xs-12.height-330
            .previewImage
              img.img-responsive.center-block(src=content.images.packshot.url, alt='', data-images=[content.images.packshot.url,content.images.boxart.url,content.images.landscape.url])
              .project-overlay
                span.icon.glyphicon.glyphicon-chevron-right(data-url=video_url)
            .videoContainer(hidden)
              .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src='')


        .col-sm-12.col-md-6
          .col-xs-12
            h1.title #{content.title}
            ol.breadcrumb.custom
              li
                span.lead.genre #{content.genre}
              li
                span.lead.year #{content.production.year}
              li
                span.lead.time #{content.duration.readable}
            ul.list-inline.imdb
              li
                span.label.label-warning.imdb-logo IMDB
              li
                strong.font-21.rating #{content.imdb.rating}
              li
                span.gray-color.font-21.votes #{content.imdb.votes} votes
            p.synopsis #{content.synopsis}
            p
              b.padding-right-5.inline-block Actors:
              each val, index in content.people.actors
                a.actors #{val}
                if index < content.people.actors.length - 1
                  span.padding-right-5 ,
            p
              b.padding-right-5.inline-block Director:
              each val,index in content.people.directors
                a.directors #{val}
                if index < content.people.directors.length - 1
                  span.padding-right-5 ,
            p
              b.padding-right-5.inline-block Country:
              span.country #{content.production.country}
            ul.list-inline
              li
                span.label.label-default.text-uppercase.badge-icon #{content.flags[0]}
              li
                span.label.label-default.text-uppercase.badge-icon.parentalRating #{content.parentalRating}

  footer.footer.app-bg-color
    .container
      .media
        a.media-left(href='#')
          img.media-object(alt=title, src=footer_logo_url, width=80, height=90)
        .media-body
          each val, index in footer_menu_list
            ul.list-group.media-left.footer-list
              li.list-group-item.heading #{val.heading}
              each v,i in val.list
                li.list-group-item
                  a.gray-color(href="#")  #{v}
              if !!val.sub_item
                li.list-group-item.heading #{val.sub_item.heading}
                each v,i in val.sub_item.list
                  li.list-group-item
                    a.gray-color(href="#")  #{v}
